@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#react-root {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

div[class^="react-transform"] {
  width: 100%;
  height: 100%;
}

.map {
  width: 75%;
  height: 100%;
  display: inline-block;

  canvas {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    &.customs {
      background-image: url("../img/customs.png");
    }
  }
}
